.label_float input{
    width: 300px;
    padding: 5px 5px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius:0;
}

.label_float{
    position: relative;
    padding-top: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
     
}
.label_float input:focus{
    border-bottom: 2px solid #4038a0;
}
.label_float label{
    color: #272262;
    pointer-events: none;
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
.label_float input:focus + label,
.label_float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;

}