

.container label{
    display: flex;
}
.container select{
    margin: 0.6rem 0;
    border: 1px solid var(--cor4);
    border-radius:10px;
    box-shadow: 1px 1px 6px #0000001c;
    
}

.container select:focus-visible{
    outline: 1px solid var(--cor4);
}