.container{
    width: 100%;
    height: 100%;
 
}

.container .form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
 width: 94%;
 height: 90%;
 margin: auto;
 background-color: #fff;
 box-shadow: 5px 5px 10px rgba(0,0,0,.5);
 border-radius: 5px;
 padding: 20px 40px;
 display: flex;
 justify-content: space-between;
}

.input_group{
    display: block;
    margin-bottom: 10px;
}
.input_group_center{
    margin-bottom: 25px;
}
.data_nascimento{
    margin-left: 15px;
    width: 175px;
}

.center_form {
    margin-top: 35px;
}

.right_form{
    margin-top: 35px;
    border: none;
}
.document_group_geral{
    display: flex;
}
.document_space{
    margin-left: 5px;
}

.foto{
    margin-bottom: 10px;
}

.action_button{
    margin-bottom: 10px;
}

.container_popup{
    width: 100%;
    height: 100%;
}




/*/////////////////////*/


.popup{
    width: 100%;
    height: 90vh;
    
}

.close_button_and_search_area{
    display: flex;
    padding: 15px;
}

.search_area{
    width: 95%;
}

.close_button{
    padding: 10px;
}
.close_button span{
    
    background-color: var(--cor0);
    margin-top: 20px;
    padding: 6px;
    border-radius: 20px;
    color: #fff;
}

.close_button span:hover{
    background-color: var(--cor4);
    cursor: pointer;
}

.table{
    width: 100%;
    height: 500px;
}


.confirm_popup{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}


.infoPopup{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}