
.container{
    width: 100%;
    height: 100%;
    background-color: #0c0ce94d;
   
}

.form_container{
    padding: 10px;
}
.top_container{
    width: 100%;
    height: 202px;
    margin-bottom: 15px;
}

.filter_and_namepage_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
   margin-bottom: 8px;
}

.filtro{
    width: 49%;
}
.namepage{
    width: 49%;
    
}

.table_and_image_container{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tabela{
   width: 100%;
}

.image{
    width: 20%;
}


.bottom_container{
    width: 100%;
    height: 265px;
    background-color: #fff;
    padding: 8px;
}

.content_form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#0c0ce94d;
    padding: 8px;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
}
.form_Contain{
    width: 33.3%;
    height: 100%;
    
}


.select_button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}


.action_button_container{
    width: 100%;
    height: 157px;
    padding: 10px;
    
}

.action_button_action_content{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--cor4);
}

.button_contain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ccc;
    padding: 10px;
}

.button_area_click{
    margin-bottom: 10px;
}

.text_area{
    padding: 10px;
    padding-top: 0;
}

.select_container{
    width: 100%;
    padding-left: 15px;
}




/*/////////////////////*/


.popup{
    width: 100%;
    height: 90vh;
    
}

.close_button_and_search_area{
    display: flex;
    padding: 15px;
}

.search_area{
    width: 95%;
}

.close_button{
    padding: 10px;
}
.close_button span{
    
    background-color: var(--cor0);
    margin-top: 20px;
    padding: 6px;
    border-radius: 20px;
    color: #fff;
}

.close_button span:hover{
    background-color: var(--cor4);
    cursor: pointer;
}

.table{
    width: 100%;
    height: 500px;
    padding: 10px;
}


.confirm_popup{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}


.infoPopup{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}