.container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container span{
    
    background-color: var(--cor0);
    padding: 6px;
    border-radius: 20px;
    color: #fff;
}

.container span:hover{
    background-color: var(--cor4);
    cursor: pointer;
}
.page_number{
    text-align: center;
}